/*
Removes white gap between slides - chagnge to base color of slide images
*/
.carousel {
    background: #0000;
    height: 650px;
}

/*
Forces image to be 100% width and not max width of 100%
*/
.carousel-item .img-fluid {
    width: 100%;
    max-height: 650px;
}

/* 
anchors are inline so you need ot make them block to go full width
*/
.carousel-item a {
    display: block;
    width: 100%;
}

